body 
{
      font-family: Arial, sans-serif;
      padding: 20px;
      overflow-x: hidden;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKkblcfjFYAuRLDjdwkxV4GQc-qk5LjSvvpg&usqp=CAU");
      background-repeat: no-repeat;
      max-height: fit-content;
      margin-left: 70%;
      background-size: cover;
}
    
h1
{
   margin-left: -450px;
   color: white;
}
    
form 
{
      margin-top: 50px;
     margin-left: -150%;
     margin-right: 100px;
      height: 150%;
      max-width: 600px;
      background-color: white;
      width: 300%;
      padding: 40px 1px; /* Add padding for spacing */
      border: 1px solid #ccc; /* Add border */
      border-radius: 5px; /* Add border-radius for rounded corners */
}
    
label 
{
      display: block;
      margin-top: 10px;
      margin-left: 16px;
      margin-bottom: 10px; 
}
    
input[type="text"],
input[type="number"],
input[type="email"]
{
  float: right;
  margin-right: 100px;
  margin-top: -40px;
  width: 60%;
}
input[type="file"]
{
      margin-left: 20px;
}

input[type="submit"] 
{
      margin-top: 20px;
      padding: 10px 20px;
      margin-left: 37%;
      background-color: #3498db;
      width: 150px;
}
    